<%- include('partials/head') %>
    <h1><%= locals.creator.creator_name %></h1>
    <a href="/creators/<%= locals.creator.id %>/edit">Edit Creator</a>
    <% if (locals.creator.country) { %>
        <p>Country: <%= locals.creator.country %></p>
    <% } %>
    <% if (locals.games.length > 0) {%>
        <h2>Games</h2>
        <ul>
            <% for (const game of locals.games) {%>
                <%- include('partials/gameListing', { game: game }) %>
            <% } %>
        </ul>
    <% } %>
    <p><a href="/creators/">Back to creator list</a></p>
<%- include('partials/foot') %>