<%- include('partials/head') %>
    <h1><%= locals.header %></h1>
    <%- include('partials/errors') %>
    <form action="<%= locals.creator ? '/creators/' + locals.creator.id + '/edit?_method=PUT' : '/creators/create' %>" method="post">
        <label for="creatorName">Creator Name: </label>
        <input type="text" name="creatorName" id="creatorName" value="<%= locals.creatorName ? locals.creatorName : '' %>" required>
        <label for="country">Country: </label>
        <input type="text" name="country" id="country" value="<%= locals.country ? locals.country : '' %>">
        <button type="submit">Submit</button>
    </form>
<%- include('partials/foot') %>
