<%- include('partials/head') %>
    <h1><%= locals.title %></h1>
    <%- include('partials/errors') %>
    <label for="assoc-filter">Filter <%= locals.kind %>: </label>
    <input type="text" id="assoc-filter" data-checkbox-filter="#assoc-list" placeholder="Filter <%= locals.kind %>...">
    <form action="<%= locals.actionUrl %>?_method=PUT" method="post">
        <div id="assoc-list">
            <% for (const item of locals.allItems) { %>
                <label>
                    <input type="checkbox" name="<%= locals.idField %>" value="<%= item.id %>"
                        <%= locals.currentIds.includes(item.id) ? 'checked' : '' %>>
                    <%= item[locals.labelField] %>
                </label>
            <% } %>
        </div>
        <button type="submit">Save</button>
    </form>
    <p><a href="/games/<%= locals.game.id %>">Back to game</a></p>
<%- include('partials/foot') %>
