<%- include('partials/head') %>
    <h1><%= locals.game.game_name %></h1>
    Released in <%= locals.game.release_year %>
    <% if (locals.genres) {%>
        <h2>Genres</h2>
        <ul>
            <% for (const genre of locals.genres) {%>
                <%- include('partials/genreListing', { genre: genre }) %>
            <% } %>
        </ul>
    <% } %>
    <p><a href="/games/">Back to game list</a></p>
<%- include('partials/foot') %>