<%- include('partials/head') %>
    <h1><%= locals.game.game_name %></h1>
    <a href="/games/<%= locals.game.id %>/edit">Edit Game</a>
    Released in <%= locals.game.release_year %>
    <% if (locals.genres.length > 0) {%>
        <h2>Genres</h2>
        <ul>
            <% for (const genre of locals.genres) {%>
                <%- include('partials/genreListing', { genre: genre }) %>
            <% } %>
        </ul>
    <% } %>
    <% if (locals.platforms.length > 0) {%>
        <h2>Platforms</h2>
        <ul>
            <% for (const platform of locals.platforms) {%>
                <%- include('partials/platformListing', { platform: platform }) %>
            <% } %>
        </ul>
    <% } %>
    <% if (locals.creators.length > 0) {%>
        <h2>Creators</h2>
        <ul>
            <% for (const creator of locals.creators) {%>
                <%- include('partials/creatorListing', { creator: creator, role: creator.role }) %>
            <% } %>
        </ul>
    <% } %>
    <p><a href="/games/">Back to game list</a></p>
<%- include('partials/foot') %>