<%- include('partials/head') %>
    <h1><%= locals.name %></h1>
    <a href="/genres/<%= locals.id %>/edit">Change Name</a>
    <a href="/genres/<%= locals.id %>/delete">Delete Genre</a>
    <% if (locals.games.length > 0) {%>
        <h2>Games of this genre</h2>
        <ul>
            <% for (const game of locals.games) {%>
                <%- include('partials/gameListing', { game: game }) %>
            <% } %>
        </ul>
    <% } %>
    <p><a href="/genres/">Back to genre list</a></p>
<%- include('partials/foot') %>