<%- include('partials/head') %>
    <h1><%= locals.header %></h1>
    <%- include('partials/errors') %>
    <form action="<%= locals.platform ? '/platforms/' + locals.platform.id + '/edit?_method=PUT' : '/platforms/create' %>" method="post">
        <label for="platformName">Platform Name: </label>
        <input type="text" name="platformName" id="platformName" value="<%= locals.platformName ? locals.platformName : '' %>" required>
        <button type="submit">Submit</button>
    </form>
<%- include('partials/foot') %>
